/* Configuração fonte */
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/* Barra de scroll */
::-webkit-scrollbar {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #c92547;
  border-radius: 10px;
}

body {
  font-family: 'DM Sans', sans-serif;
  background: #F5F6FB;

  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 40px;
}

p {
  margin: 0px;
}

h2 {
  font-weight: 200;
}

a {
  text-decoration: none;
}

h3 {
  margin-bottom: 10px;
  
}
h4 {
  margin: 0px;
  color: black;
}

/* ----------------------------- CONFIGURAÇÕES DA PAGINA ----------------------------- */

.header {
  background-color: #ffffff;

  width: 100%;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-bottom: 55px;
  justify-content: space-between;

  
  box-sizing: border-box;

  display: flex;
  align-items: center;
  box-shadow: 0px -11px 20px black;
}

.left-side {
  gap: 15px;
  display: flex;
  align-items: center;
}

.right-side {
  gap: 15px;
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  background: #C4C4C4;
}

.right {
  width: 45px;
  height: 45px;
  display: inline-block;
  border-radius: 50px;
  background: #C4C4C4;
  justify-content: end;
  background: #F5F6FB;
}

.right01 {
    width: 45px;
    height: 45px;
    display: inline-block;
    border-radius: 50px;
    background: #C4C4C4;
    justify-content: end;
    background: #F5F6FB;

}
.perfil img {
  width: 45px;
  height: 45px;
  border-radius: 50px;
}

.notif {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mensagem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.darkmode {
  display: flex;
  justify-content: center;
  align-items: center;
}

.darkmode img {
  width: 20px;
  height: 20px;
}

.mensagem img {
  width: 20px;
  height: 20px;
}

.notif img {
  width: 20px;
  height: 20px;
  
}

.right img {
  opacity: 0.7;
}

.notif:hover img {
  opacity: 0.9;
}

.mensagem:hover img {
  opacity: 0.9;
}

.darkmode:hover img {
  opacity: 0.9;
}

.pesquisa {
  width: 200px;
  height: 15px;
  display: inline-block;
  border-radius: 15px;
  padding: 19px;
  border: none;
  background: #F1F1F1;
  padding-right: 0px;

  box-sizing: border-box;
}

textarea:focus, input:focus{
  outline: none;
}


.corpo {
  display: grid;

  margin-left: 70px;
  margin-right: 70px;
}

.banner {
  height: 220px;
  max-width: 100%;
  border-radius: 25px;

  position: absolute;
  top: -0px;
  left: -0px;
}

.grid-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;

  position: relative;
}

.conteudo-principal {
  height: 645px;
  width: 800px;
  padding: 20px;
  place-self: end;
  
  background: white;
  border-radius: 25px;   

  box-sizing: border-box;
  box-shadow: 1px 2px 6px 0px #00000005;
}

.informaçoes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 175px;
  
}

.informaçoes-item{
  display: flex;
}

.info-item01 {
  color: white;
  background: #c92547;
  padding: 10px 20px;
  border-radius: 10px;
}

.info-item02, .info-item03 {
  padding: 10px 15px;
  background: #f5f6fb;
  color: rgba(0, 0, 0, 0.2);

  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.info-item02 {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.info-recado {
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.2);
}

.animes-diario {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  gap: 35px 60px;
  margin-bottom: 25px;
}

.paginas-mudar {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 0px;

  position: relative;
  left: -10px;
}

.paginas-item {
  background: #f5f6fb;
  padding: 15px 20px;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.principal {
  grid-column: 3;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}


.conteudo-lateral {
  height: 220px;
  width: 300px;

  background: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 1px 1px 1px #0000000d;
  
}


.conteudo-aleatorio {
  height: 35px;
  width: 300px;
  
  background: #fff;
  border-radius: 10px;
  padding: 25px;
  box-sizing: border-box;
  box-shadow: 0px 1px 0px 0px #0000000f;
}

.conteudo-aleatorio:hover .texto-item {
  
  color: rgba(0, 0, 0, 0.7);
}

.conteudo-aleatorio:hover .ico {
  opacity: 1;
}


.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #000;
}


.ico {
  width: 15px;
  height: 15px;
  opacity: 0.5;
}


.texto-item {
  font-size: 15px;
  display: inline;
  margin: 0px;
  margin-left: 20px;
  margin-right: auto;
  color: rgba(0, 0, 0, 0.4);
}

.conteudo-lateral1 {
  height: 450px;
  width: 300px;
  display: grid;
  background: #ffffff;
  border-radius: 25px;
  padding: 20px;
  padding-top: 0px;
  align-content: start;
  gap: 7px;
  box-sizing: border-box;
  box-shadow: 0px 1px 0px 0px #0000000f;
}

.conteudo-lateral1 p {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}

.conteudo-lateral1 h4 {
  font-weight: 400;

}

.detalhe {
  margin: 0px;
  display: inline-block;
  width: 250px;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
} 
