/* Configuração fonte */
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/* Barra de scroll */
::-webkit-scrollbar {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #c92547;
  border-radius: 10px;
}

body {
  font-family: 'DM Sans', sans-serif;
  background: #F5F6FB;

  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 40px;
}

p {
  margin: 0px;
}

h2 {
  font-weight: 200;
}

a {
  text-decoration: none;
}

h3 {
  margin-bottom: 10px;
  
}
h4 {
  margin: 0px;
  color: black;
}

/* ----------------------------- CONFIGURAÇÕES DA PAGINA ----------------------------- */

.header {
  background-color: #ffffff;

  width: 100%;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-bottom: 55px;
  justify-content: space-between;

  
  box-sizing: border-box;

  display: flex;
  align-items: center;
  box-shadow: 0px -11px 20px black;
}

.left-side {
  gap: 15px;
  display: flex;
  align-items: center;
}

.right-side {
  gap: 15px;
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  background: #C4C4C4;
}

.right {
  width: 45px;
  height: 45px;
  display: inline-block;
  border-radius: 50px;
  background: #C4C4C4;
  justify-content: end;
  background: #F5F6FB;
}

.right01 {
    width: 45px;
    height: 45px;
    display: inline-block;
    border-radius: 50px;
    background: #C4C4C4;
    justify-content: end;
    background: #F5F6FB;

}
.perfil img {
  width: 45px;
  height: 45px;
  border-radius: 50px;
}

.notif {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mensagem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.darkmode {
  display: flex;
  justify-content: center;
  align-items: center;
}

.darkmode img {
  width: 20px;
  height: 20px;
}

.mensagem img {
  width: 20px;
  height: 20px;
}

.notif img {
  width: 20px;
  height: 20px;
  
}

.right img {
  opacity: 0.7;
}

.notif:hover img {
  opacity: 0.9;
}

.mensagem:hover img {
  opacity: 0.9;
}

.darkmode:hover img {
  opacity: 0.9;
}

.pesquisa {
  width: 200px;
  height: 15px;
  display: inline-block;
  border-radius: 15px;
  padding: 19px;
  border: none;
  background: #F1F1F1;
  padding-right: 0px;

  box-sizing: border-box;
}

textarea:focus, input:focus{
  outline: none;
}


.corpo {
  display: grid;

  margin-left: 70px;
  margin-right: 70px;
}


.grid-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 880px;
  width: 1215px;
  padding: 30px;
  gap: 100px;
  
  background: white;
  border-radius: 25px;   

  box-sizing: border-box;
  box-shadow: 1px 2px 6px 0px #00000005;
}


video {
  width: 640px;
  height: 360px;
  border-radius: 20px;
}

.conteudo-principal p {
  width: 650px;
} 

.conteudo-principal h2 {
  margin: 0px;
  margin-top: 15px;
}

p.info {
  margin-bottom: 10px;
  color: #00000075;
}

.detalhe-mais {
  color: #c92547;
  font-weight: 500;
}

.conteudo-principal p {
  color: #00000075;
}

.sinopse {
  margin-bottom: 20px;
}

.animes a {
  color: black;
}

.detalhe {
  width: 640px;
  height: 1px;
  background: #00000012;
  display: inline-block;
  margin-bottom: 20px;

}

.menu {

  display: flex;
  gap: 10px;
  position: absolute;
  /* right: 612px; */
  left: 595px;
  bottom: 65px;



}

.menu-item {
  background: #f5f6fb;
  /* height: 40px; */
  /* width: 40px; */
  padding: 10px;
  box-sizing: border-box;
  border-radius: 7px;

}

.menu-item img {
  width: 20px;
  opacity: 0.4;
}

.sub-conteudo {
  box-sizing: border-box;
  justify-content: center;
  padding: 20px;
  padding-top: 0px;
} 

.assistir-anime {
    background: #F5F6FB;
    min-height: 300px;
    width: 300px;
    border-radius: 20px;
    display: grid;
    padding-top: 10px;
    justify-content: center;
    padding-bottom: 15px;
}

.header-anime {
  display: flex;
  box-sizing: border-box;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 12px;
  gap: 110px;
  align-items: center;
}

.progress-bar {
  display: flex;
   align-items: center;
   position: relative;
}

.progress-bar p {
  margin-left: 10px;
}

.gray {
  background: #f5f6fb;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    position: absolute;
    left: 5px;
}

.red {
  background: #c92547;
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.animes {
  min-height: 300px;
    height: auto;
    width: 270px;
    background: white;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 10px;
    padding-top: 15px;
    display: grid;
    grid-template-columns: 110px 1fr;
    gap: 20px 0px;
}

.animes img {
  width: 100px;
  border-radius: 10px;
}

.anime-ep h3 {
  margin: 0px;
}

.anime-ep p {
  font-size: 12px;
}


