/* Configuração fonte */
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/* Barra de scroll */
::-webkit-scrollbar {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #c92547;
  border-radius: 10px;
}

body {
  font-family: 'DM Sans', sans-serif;
  background: #F5F6FB;

  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 40px;
}

p {
  margin: 0px;
}

h2 {
  font-weight: 200;
}

a {
  text-decoration: none;
}

h3 {
  margin-bottom: 10px;
  
}
h4 {
  margin: 0px;
  color: black;
}

/* ----------------------------- CONFIGURAÇÕES DA PAGINA ----------------------------- */

.header {
  background-color: #ffffff;

  width: 100%;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-bottom: 55px;
  justify-content: space-between;

  
  box-sizing: border-box;

  display: flex;
  align-items: center;
  box-shadow: 0px -11px 20px black;
}

.left-side {
  gap: 15px;
  display: flex;
  align-items: center;
}

.right-side {
  gap: 15px;
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  background: #C4C4C4;
}

.right {
  width: 45px;
  height: 45px;
  display: inline-block;
  border-radius: 50px;
  background: #C4C4C4;
  justify-content: end;
  background: #F5F6FB;
}

.right01 {
    width: 45px;
    height: 45px;
    display: inline-block;
    border-radius: 50px;
    background: #C4C4C4;
    justify-content: end;
    background: #F5F6FB;

}
.perfil img {
  width: 45px;
  height: 45px;
  border-radius: 50px;
}

.notif {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mensagem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.darkmode {
  display: flex;
  justify-content: center;
  align-items: center;
}

.darkmode img {
  width: 20px;
  height: 20px;
}

.mensagem img {
  width: 20px;
  height: 20px;
}

.notif img {
  width: 20px;
  height: 20px;
  
}

.right img {
  opacity: 0.7;
}

.notif:hover img {
  opacity: 0.9;
}

.mensagem:hover img {
  opacity: 0.9;
}

.darkmode:hover img {
  opacity: 0.9;
}

.pesquisa {
  width: 200px;
  height: 15px;
  display: inline-block;
  border-radius: 15px;
  padding: 19px;
  border: none;
  background: #F1F1F1;
  padding-right: 0px;

  box-sizing: border-box;
}

textarea:focus, input:focus{
  outline: none;
}


.corpo {
  display: grid;

  margin-left: 70px;
  margin-right: 70px;
}


.grid-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;

}

.conteudo-principal {
  min-height: 880px;
  height: auto;
  width: 800px;
  padding: 20px;
  position: relative;
  
  background: white;
  border-radius: 25px;   

  box-sizing: border-box;
  box-shadow: 1px 2px 6px 0px #00000005;
  
}


.capa {
  width: 150px;
  border-radius: 15px;
}

.conteudo-info {
  display: grid;
  gap: 30px;
  grid-template-columns: auto 1fr;
}

.conteudo-info h2 {
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: bold;
  width: 500px;

}

.info-pr p {
  margin-bottom: 3px;
}

.info-pr {
  display: grid;
    align-content: space-evenly;
}

.info-ep {
  margin-top: 20px;
  margin-bottom: 15px;
}

.rate {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}

.rate div {
  background: rgba(201, 37, 71, 0.2);
  padding: 5px;
  border-radius: 5px;
  display: flex;
}

.on {
  font-size: 20px;
  color: #c92547;
}

.off {
  font-size: 20px;
  color: #00000061;
}

.nota {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 10px;
  background: #F5F6FB;
  color: #00000061;
}
  
.nota:hover{
  color: #000000b3;
}

.episodios-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px;
}

.episodios-item img {
  width: 130px;
  border-radius: 10px;
  background: black

}

.episodios-item h4 {
  margin: 0px;
  margin-bottom: 5px;
}

.episodios-item p {
  width: auto;
  color: #000000b3;
}

.separador {
  margin: 0px;
  display: inline-block;
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}


.a02, .a03, .a04 {
  margin-top: 5px;
}

.principal {
  grid-column: 3;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}


.conteudo-lateral {
  height: 220px;
  width: 300px;

  background: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 1px 1px 1px #0000000d;
  
}


.conteudo-aleatorio {
  height: 35px;
  width: 300px;
  
  background: #fff;
  border-radius: 10px;
  padding: 25px;
  box-sizing: border-box;
  box-shadow: 0px 1px 0px 0px #0000000f;
}

.conteudo-aleatorio:hover .texto-item {
  
  color: rgba(0, 0, 0, 0.7);
}

.conteudo-aleatorio:hover .ico {
  opacity: 1;
}


.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #000;
}


.ico {
  width: 15px;
  height: 15px;
  opacity: 0.5;
}


.texto-item {
  font-size: 15px;
  display: inline;
  margin: 0px;
  margin-left: 20px;
  margin-right: auto;
  color: rgba(0, 0, 0, 0.4);
}

.conteudo-lateral1 {
  height: 450px;
  width: 300px;
  display: grid;
  background: #ffffff;
  border-radius: 25px;
  padding: 20px;
  padding-top: 0px;
  align-content: start;
  gap: 7px;
  box-sizing: border-box;
  box-shadow: 0px 1px 0px 0px #0000000f;
}

.conteudo-lateral1 p {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}

.conteudo-lateral1 h4 {
  font-weight: 400;

}

.detalhe {
  margin: 0px;
  display: inline-block;
  width: 250px;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
} 
